@use "./Variable";

$button-Bgcolor: #ae69f5;
$button-Fcolor: #fff;

.button__pos {
  background-color: $button-Bgcolor;
  outline: none;
  border: none;
  margin: 0 10px;
  border-radius: 3px;
  color: $button-Fcolor;
  cursor: pointer;
  padding: 10px 16px;
}
