@import "./Variable";
.das__cards {
  @include flex(center, center);
  flex-wrap: nowrap;
  // width: 97%;
  margin: auto;
  @media screen and (max-width: $tab) {
    flex-wrap: wrap;
  }
}
.dahsbord {
  margin-left: 16rem;
  //   height: 90vh;
  background-color: #f8f9fa;
  .dash__heading {
    color: $font-color;
    padding: 20px;
    font-size: 1rem;
  }
  .das__card {
    width: 250px;
    height: 180px;
    margin: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    position: relative;
    overflow: hidden;
    .das_small_circle {
      content: "";
      position: absolute;
      display: block;
      right: -40px;
      top: 40px;
      width: 80px;
      height: 80px;
      background-color: #6710f241;
      border-radius: 50%;
    }
    .das_big_circle {
      content: "";
      position: absolute;
      display: block;
      right: -30px;
      top: -30px;
      width: 120px;
      height: 120px;
      background-color: #6710f260;
      border-radius: 50%;
    }
  }
}
.das_card_heading {
  margin: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  color: $font-color;
}
.das__card_number {
  width: 90%;
  margin: auto;
  display: flex;
  color: rgb(56, 56, 56);
  .das__card_count {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 10px;
  }
}

.das__card_description {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  font-size: 15px;
  line-height: 1rem;
  color: gray;
}

.das__card_arrow {
  color: #28a745;
  .des__card_inc {
    font-size: 13px;
    color: #28a745;
  }
}

.das__line_chart {
  // border: 1px solid black;
  background-color: rgb(255, 255, 255);
  margin: .5rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
  width: min-content;
  margin-top: 20px;
  padding: 2rem;
}

.das__chart_heading {
  color: $font-color;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.das__chart_detail {
  display: flex;
  @media screen and (max-width:968px) {
    flex-wrap: wrap;
  }
}
.das__last_update {
  background-color: rgb(255, 255, 255);
  margin: .5rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 5px gray;
  margin-top: 20px;
  padding: 2rem 1rem;
  .das__last_update_detail {
    @include flex(flex-start, center);
    // border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    padding: .5rem 0;
    &:hover{
      background-color: rgba(51, 51, 51, 0.158);
    }
    .das__last_update_icon {
      @include flex(center, center);
      background-color: $link-Bgcolor;
      margin: 0 0.5rem;
      border-radius: 0.2rem;
      color: #fff;
      width: 2.5rem;
      height: 2.5rem;
    }
    .das__last_heading_inf {
      h1 {
        font-size: 15px;
        color: $font-color;
        margin: .2rem 0;
      }
      > p {
        color: $font-color;
        font-size: 10px;
      }
    }
    position: relative;
    .das__last_update_value{
      position: absolute;
      top: 40%;
      right: 10px;
      color: $font-color;
      font-size: 10px;
    }
  }
}
