@use "../Variable";
.pos__customer_selection {
  @include Variable.flex(space-between, center);
}
// .pos__singleCustomer{

// }
.pos__choose_customer {
  @include Variable.flex(initial, center);
  .pos__choose_heading {
    margin: 0.3rem 0.1rem;
    font-size: 0.9rem;
  }
  svg {
    fill: #ffc107;
    cursor: pointer;
  }
}
.pos__choose_input {
  @include Variable.flex(initial, center);
  width: min-content;
  position: relative;
  input {
    padding: 5px 10px;
    cursor: pointer;
  }
  svg {
    position: absolute;
    right: 0;
  }
}
